@import "https://fonts.googleapis.com/css?family=Noto+Sans";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background: skyblue;
  font: 12px/16px "Noto Sans", sans-serif;
}

:focus {
  outline: 0;
  box-shadow: none;
}

.floating-chat {
  display: inline-block;
  position: fixed;
  top: 50%;
  right: -100px;
  transform: translateY(-50%);
  z-index: 99;
}

.floating-chat a {
  display: inline-block;
  transform: rotate(-90deg);
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  padding: 20px;
  border: none;
  background-color: tomato;
  border-radius: 7px 7px 0 0;
  -webkit-border-radius: 7px 7px 0 0;
  -moz-border-radius: 7px 7px 0 0;
  -ms-border-radius: 7px 7px 0 0;
  -o-border-radius: 7px 7px 0 0;
  z-index: 98;
}

.floating-chat a:hover {
  color: #333;
}

.chat-box {
  display: none;
  position: absolute;
  top: -143px;
  right: 165px;
  width: 350px;
  height: auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 7px;
}
.show {
  display: block !important;
}
.chat-box .title {
  font-size: 16px;
  font-weight: 300;
  color: #808080;
}

.chat-box .title span.name {
  font-weight: 600;
  color: #333;
}

.chat-box .msg-close {
  position: absolute;
  top: -28px;
  right: 3px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
}

.chat-box .message-body {
  font-size: 16px;
  padding-top: 24px;
  line-height: 1.3;
}
